html,body {
	height: 100%;
}
body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	border: 0;
	padding: 0;
	margin: 0;
	background: lightsteelblue;
}
header,footer {
	background: navy;
	color: #fff;
}
header {
	display: flex;
}
footer {
	margin-top: auto;
}
.switch {
	position: absolute;
	top: -5em;
}
header label {
	display: inline-block;
	height: 48px;
	width: 48px;
	background-image: url(menu.png);
	background-repeat: no-repeat;
	background-size:cover;
	margin: .5em 1em;
}
header h1 {
	margin-left: 1em;
	font-size: 4vh;
}
label {
	cursor: pointer;
}
#m0:checked ~ header label {
	background-image:url(arrow_back.png);
}
#m0:checked ~ main .menu {
	margin-left: 0;
	background: #fff;
}
.menu {
	width: 150px;
	position: relative;
	margin-left: -180px;
	transition: all 1s;
	background: navy;
}
.menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	box-shadow: 2px 2px 2px navy;
}
.menu li {
	padding: .5em;
	margin-left: 1em;
}
.menu li label {
	display: block;
}
.menu li:nth-child(n+2) {
	border-top: 2px solid navy;
}
.menu li:hover {
	background-color: #99f;
	color: #fff;
}